$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

h4 {
  font-size: 18px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.navbar {
  border-radius: 0px;
}

.table > thead > tr > td.active, .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr > td.active, .table > tbody > tr > th.active, .table > tbody > tr.active > td, .table > tbody > tr.active > th, .table > tfoot > tr > td.active, .table > tfoot > tr > th.active, .table > tfoot > tr.active > td, .table > tfoot > tr.active > th {
  background: #c5e0e8;
}

.error {color: red;}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.btn-full {
  width: 100%;
}

.pad-top-10 {
  padding-top: 10px;
}

.no-border {
  border: 0px !important;

  td {
    border: 0px !important
  }
}
// Helpers
.center {
  text-align: center;
}

.input-small {
    width: 65px;
}

.padded-row {
  margin-top: 15px;
  margin-bottom: 15px;
}


// Form
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// Orders
.section-header {
  input {
    display: inline;
  }
}

.orders-price-container {
  margin: 10px 0 20px;
  padding: 10px;
  background: #efefef;
}

.filter {
  font-size: 12px;

  .filter-item {
    margin: auto 5px;
  }
}

.cart-qty {
  width: 34px;
  display: inline;
  text-align: center;
  padding: 3px;
  border-radius: 0px;
}

.input-description {
  margin-top: 10px
}

.input-description {
    margin-left: -115px;
    margin-top: 10px;
    width: 214px;
}

.cart-qty-remove {
  border-radius: 5px 5px 0 0;
}

.cart-qty-add {
  border-radius:  0 0 5px 5px;
}

.cart-qty-add, .cart-qty-remove {
  padding: 5px 10px;
  background: #efefef;

  .fa {
    color: #7392a6;
  }
}

.complete-dinners {
  border: 2px solid #777;
  h4 {
    text-align: center;
  }
}

.order-list {
  &.active {
    background: red;
  }
}

.delete-order {
  margin-top: 20px;
}

.no-active {
  text-align: center;
}

// Inventory
.inventory-create-container {
    background: #efefef none repeat scroll 0 0;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;

    table {
      margin-bottom: 0px;
    }

    td {
      border-top: 0px !important;
    }
}

.btn-new-inventory {
    margin-top: 25px;
}

// Modals
.status-modal {
  cursor: pointer;
}

// Buttons
.btn-stack {
  margin: 10px 0;
}


// Reports
.reports-cta {
  background: #eee;
}




/* Responsive: Portrait tablets and up */
@media (min-width: 968px) {


.input-description {
    margin-left: -115px;
    margin-top: 10px;
    width: 214px;
}

}

/* Responsive: Portrait tablets and up */
@media (min-width: 768px) {
.input-description {
    margin-left: -80px;
    margin-top: 10px;
    width: 114px;
}

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 550px) {
.input-description {
    margin-left: -80px;
    margin-top: 10px;
    width: 114px;
}
  /* Remove the padding we set earlier */
  .hidden-mini {
    display: none;
  }
}
