<div class="row marketing">
	<div class="row section-header">
		 <h4 class="col-xs-4">Inventory Management</h4>
	</div>

 <hr>

	<div class="inventory-create-container col-xs-12">
		 <table class="table">
			<tbody>
				<tr>
					<td>
					    <label for="item-name">Item Name</label>
					    <input type="text" class="form-control" id="item-name" placeholder="Item Name" ng-model="newItem.name">
					</td>
					<td>
					    <label for="item-category">Category</label>
					    <select name="" id="item-category" class="form-control"  ng-model="newItem.category">
					    	<option value="">-----</option>
					    	<option value="Sandwich">Sandwich</option>
					    	<option value="Soup">Soup</option>
					    	<option value="Deli Meat">Deli Meat</option>
					    	<option value="Hot Food">Hot Food</option>
					    </select>					</td>
					<td>
					    <label for="item-unit">Unit</label>
					    <select name="" id="item-unit" class="form-control"  ng-model="newItem.unit">
					    	<option value="">-----</option>
					    	<option value="LB">Pound</option>
					    	<option value="Foot">Foot</option>
					    	<option value="Tray">Tray</option>
					    	<option value="Special">Special</option>
					    </select>
					</td>
					<td>
					    <label for="item-price">Unit Cost</label>
					    <input type="text" class="form-control" id="item-price" placeholder="Item Price" ng-model="newItem.price">
					</td>
					<td>
						<a href ng-click="add()" class='btn btn-success btn-new-inventory'>Add Item</a>
					</td>
				</tr>
			</tbody>
		</table>   
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class='hidden-xs'>Item #</th>
				<th>Name</th>
				<th class='hidden-xs'>Category</th>
				<th class='hidden-xs'>Unit</th>
				<th>Unit Cost</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items">
				<th class='hidden-xs'>{{item.id}}</th>
				<td>{{item.name}}</td>
				<td class='hidden-xs'>{{item.category}}</td>
				<td class='hidden-xs'>{{item.unit}}</td>
				<td><input type="text" class="form-control input-small" value="{{item.price}}" ng-model="items[$index].price"></td>
				<td>
					<a href class='btn btn-info' ng-click="save($index)">
			      			<span class="hidden-xs">Save</span>
			      			<span class="visible-xs"><i class="fa fa-save"></i></span>
					</a> 
					<a href class='btn btn-danger' ng-click="remove($index)">
			      			<span class="hidden-xs">Remove</span>
			      			<span class="visible-xs"><i class="fa fa-close"></i></span></a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<div class="progress progress-striped active" ng-show="!items.length">
	    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
	    <span class="sr-only"></span>
	    </div>
	</div>
</div>
