

<div class="row marketing">
  <div class="row section-header">
     <h4 class="col-xs-6">Order #XXXXX</h4>
     <div class="col-xs-6">
      <a href class="btn btn-default pull-right">Print</a>
     </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-xs-12 col-sm-7">
        <p><strong>John Smith</strong></p>
        <p>123 Main St.  Hartford, CT</p>
        <p>555-555-5555</p>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class='col-xs-6'>Order Number</div>
      <div class="col-xs-6">12345</div>
      <div class='col-xs-6'>Order Date</div>
      <div class="col-xs-6">1/1/2016</div>
      <div class='col-xs-6'>Order Total</div>
      <div class="col-xs-6">$120</div>
      <div class='col-xs-6'>Order Type</div>
      <div class="col-xs-6">Passover 2015</div>
    </div>
  </div>

   <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Unit Cost</th>
        <th>Total Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sample Item Goes Here</th>
        <td>2</td>
        <td>$50</td>
        <td>$100</td>
      </tr>
      <tr>
        <th>Sample Item Goes Here</th>
        <td>1</td>
        <td>$10</td>
        <td>$10</td>
      </tr>
    </tbody>
  </table>
   
  <div class="col-xs-12">
    <div class="orders-price-container  col-xs-12 col-sm-4 pull-right">
      <div class='col-xs-7'>Subtotal</div>
      <div class="col-xs-5">$110</div>
      <div class='col-xs-7'>Tax</div>
      <div class="col-xs-5">$10</div>
      <div class='col-xs-7'><strong>Total</strong></div>
      <div class="col-xs-5"><strong>$120</strong></div>
    </div>
  </div>


  <div class="col-xs-12 clearfix">
    <button type="submit" class="btn btn-danger pull-right">Delete Order</button>
  </div>
</div>
