

<div class="row marketing">

	<form name="edit_form" novalidate ng-submit="save()" accessible-form>
	<div class="row section-header">
		 <h4 class="col-xs-6">Edit Orders - # <input type="text"  class="form-control input-small" ng-model="data.order.id" name="id" required/></h4>
	    	<div class="error" ng-show="edit_form.id.$invalid && edit_form.submitted">
		    <small class="error" ng-show="edit_form.id.$error.required">
		        Order number is required.
		    </small>
	  	</div>	
		 <div class="col-xs-6">
		 	<a href="#/orders" class="pull-right">Back to Orders</a>
		 </div>
	</div>
	<hr>
	<span ng-show="!loading">
		<div class="row clearfix">
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="first-name">First Name</label>
		    <input type="text" class="form-control" id="first-name" placeholder="First Name" name="fname" ng-model="data.user.firstName" required>
	    	<div class="error" ng-show="edit_form.fname.$invalid && edit_form.submitted">
		    <small class="error" ng-show="edit_form.fname.$error.required">
		        First name is required.
		    </small>
	  	</div>			    
		  </div>
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="last-name">Last Name</label>
		    <input type="text" class="form-control" id="last-name" placeholder="Last Name" name="lname" ng-model="data.user.lastName" required>
	    	<div class="error" ng-show="edit_form.lname.$invalid && edit_form.submitted">
		    <small class="error" ng-show="edit_form.lname.$error.required">
		        Last name is required.
		    </small>
	  	</div>	
		  </div>
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="address">Address</label>
		    <input type="text" class="form-control" id="address" placeholder="Address" ng-model="data.user.address">
		  </div>
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="phone-number">Phone Number</label>
		    <input type="text" class="form-control" id="phone-number" placeholder="Phone Number" ng-model="data.user.phone" maxlength="10">
		  </div>
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="order-type">Order Type</label>
		    <input type="text" class="form-control" id="order-type" placeholder="Order Type" ng-model="data.user.tag" readonly>
		  </div>
		  <div class="form-group col-xs-12 col-sm-6">
		    <label for="order-type">Special Instructions</label>
		    <input type="textarea" class="form-control" id="special-instructions" placeholder="Special Instructions" ng-model='data.user.instructions'>
		  </div>		  
		</div>
		<hr>

		<div class="col-xs-12 col-sm-6"  ng-show="data.user.tag">
			<div class="complete-dinners">
				<h4>Complete Dinners</h4>
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th class='col-xs-3 col-sm-2'>Quantity</th>
				      <th class='col-xs-5 col-sm-4'>Item Name</th>
				      <th class='col-xs-2 col-sm-3'>Cost</th>
				      <th class='col-xs-2 col-sm-3'>Ext. Cost</th>
				    </tr>
				  </thead>
				  <tbody>

				    <tr ng-repeat="inventory in data.order.items | filter: filter.full" class="order-list ng-class: {'active' : inventory.qty > 0}">

				      <td class="col-xs-2">
				      		<a class="btn btn-small btn-default cart-qty-remove" href ng-click="updateItem('remove', inventory.id)"><i class="fa fa-minus-square"></i></a>
					    	<input type="text" class="form-control input-sm cart-qty" class="item" placeholder="0" ng-change="updateItem('update', inventory.id)" ng-model="inventory.qty">
				      		<a class="btn btn-small btn-default cart-qty-add" href ng-click="updateItem('add',  inventory.id)"><i class="fa fa-plus-square"></i></a>
				      </td>

				      <td>
				      		{{inventory.name}}<br/>
				      		<small ng-show="inventory.description">Notes: {{inventory.description}}</small>
				      	</td>

				    	
			      		<td  ng-show="!inventory.descriptionFlag">
			      			<input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updateItem('update', inventory.id)" ng-model="inventory.unitPrice">
			      		</td>

				      <td  ng-show="!inventory.descriptionFlag">
				      		<input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updateItem('update', inventory.id)" ng-model="inventory.price"><br/>
					      	<a href ng-click="inventory.descriptionFlag = true" ng-show="!inventory.description">+ Add Notes</a>
					      	<a href ng-click="inventory.descriptionFlag = true" ng-show="inventory.description">+ Edit Notes</a>
				      </td>
				      
				      <td colspan="2" ng-show="inventory.descriptionFlag">
				      	<textarea rows="2" class="form-control" ng-model="inventory.description" placeholder="Add details..."></textarea><br/>
				      	<a href class="btn btn-success" ng-click="inventory.descriptionFlag = false">Save & Close</a> 
				      </td>
				    </tr>
				  </tbody>
				</table>	
			</div>
			
			<div class="single-item">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th class='col-xs-3 col-sm-2'></th>
				      <th class='col-xs-5 col-sm-4'></th>
				      <th class='col-xs-2 col-sm-3'></th>
				      <th class='col-xs-2 col-sm-3'></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="inventory in data.order.items | filter: filter.single" class="order-list ng-class: {'active' : inventory.qty > 0}">

				      <td class="col-xs-2">
				      		<a class="btn btn-small btn-default cart-qty-remove" href ng-click="updateItem('remove', inventory.id)"><i class="fa fa-minus-square"></i></a>
					    	<input type="text" class="form-control input-sm cart-qty" class="item" placeholder="0" ng-change="updateItem('change', inventory.id)" ng-model="inventory.qty">
				      		<a class="btn btn-small btn-default cart-qty-add" href ng-click="updateItem('add',  inventory.id)"><i class="fa fa-plus-square"></i></a>
				      </td>

				      <td>
				      		{{inventory.name}}<br/>
				      		<small ng-show="inventory.description">Notes: {{inventory.description}}</small>
				      	</td>

				    	
			      		<td  ng-show="!inventory.descriptionFlag"><input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updateItem('update', inventory.id)" ng-model="inventory.unitPrice"></td>
				      <td  ng-show="!inventory.descriptionFlag"><input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updateItem('update', inventory.id)" ng-model="inventory.price"><br/>


				      	<a href ng-click="inventory.descriptionFlag = true" ng-show="!inventory.description">+ Add Notes</a>
				      	<a href ng-click="inventory.descriptionFlag = true" ng-show="inventory.description">+ Edit Notes</a>

				      </td>
				      <td colspan="2" ng-show="inventory.descriptionFlag">
				      	<textarea rows="2" class="form-control" ng-model="inventory.description" placeholder="Add details..."></textarea><br/>
				      	<a href class="btn btn-success" ng-click="inventory.descriptionFlag = false">Save & Close</a> 
				      </td>
				    </tr>
				  </tbody>
				</table>				
			</div>
		</div>
<!-- 
		<div class="col-xs-12 col-sm-6" ng-show="item.user.tag">
			<div class="single-item">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th class='col-xs-3 col-sm-2'>Quantity</th>
				      <th class='col-xs-5 col-sm-4'>Item Name</th>
				      <th class='col-xs-2 col-sm-3'>Cost</th>
				      <th class='col-xs-2 col-sm-3'>Ext. Cost</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr ng-repeat="inventory in item.order.items | filter: filter.single | myLimitTo:item.order.items.length:11" class="order-list ng-class: {'active' : cart[item.order.items.indexOf(inventory)].qty > 0}">
				      <td class="col-xs-2">
				      		<a class="btn btn-small btn-default cart-qty-remove" href ng-click="updateItem('remove', item.order.items.indexOf(inventory))"><i class="fa fa-minus-square"></i></a>
					    	<input type="text" class="form-control input-sm cart-qty" class="item" placeholder="0" ng-change="updatePrice()" ng-model="cart[item.order.items.indexOf(inventory)].qty">
				      		<a class="btn btn-small btn-default cart-qty-add" href ng-click="updateItem('add', item.order.items.indexOf(inventory))"><i class="fa fa-plus-square"></i></a>
				      </td>
				      <td ng-show="{{inventory.name.length}}">{{inventory.name}}<br/>
				      	<small ng-show="cart[item.order.items.indexOf(inventory)].description">Notes: {{inventory.description}}</small></td>
				      <td ng-show="{{!inventory.name.length}}"><input type="text" class="form-control" class="item" placeholder="Enter Item Name" ng-change="updatePrice()" ng-model="cart[item.order.items.indexOf(inventory)].name"></td>
			      		<td  ng-show="!cart[item.order.items.indexOf(inventory)].descriptionFlag"><input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updatePrice()" ng-model="cart[item.order.items.indexOf(inventory)].unitPrice"></td>
				      <td  ng-show="!cart[item.order.items.indexOf(inventory)].descriptionFlag"><input type="text" class="form-control input-sm" class="item" placeholder="0" ng-change="updatePrice()" ng-model="cart[item.order.items.indexOf(inventory)].price"><br/>
				      	<a href ng-click="cart[item.order.items.indexOf(inventory)].descriptionFlag = true" ng-show="!cart[item.order.items.indexOf(inventory)].description">+ Add Notes</a>
				      	<a href ng-click="cart[item.order.items.indexOf(inventory)].descriptionFlag = true" ng-show="cart[item.order.items.indexOf(inventory)].description">+ Edit Notes</a>
				      </td>
				      <td colspan="2" ng-show="cart[item.order.items.indexOf(inventory)].descriptionFlag">
				      	<textarea rows="2" class="form-control" ng-model="cart[item.order.items.indexOf(inventory)].description" placeholder="Add details..."></textarea><br/>
				      	<a href class="btn btn-success" ng-click="cart[item.order.items.indexOf(inventory)].descriptionFlag = false">Save & Close</a> 
				      </td>
				    </tr>
				  </tbody>
				</table>				
			</div>

			<div class="new-item">
				<a href  ng-click="newItem()" class="btn btn-full btn-info">Add New Item</a>
			</div>
		</div> -->

		<div class="col-xs-12">
			<div class="orders-price-container  col-xs-12 col-sm-5 pull-right">
				<div class='col-xs-7 col-sm'>Subtotal</div>
				<div class="col-xs-5"><input type="text" name="subtotal" class="form-control"  placeholder="${{data.order.subtotal | number: 2}}" ng-change="updateTotal()" ng-model="data.order.userSubtotal" required>

			    	<div class="error" ng-show="edit_form.subtotal.$invalid && edit_form.submitted">
				    <small class="error" ng-show="edit_form.subtotal.$error.required">
				        Enter subtotal
				    </small>
			  	</div>	
						</div>
				<div class='pad-top-10 col-xs-7'>Tax</div>
				<div class="pad-top-10 col-xs-5">${{data.order.tax | number: 2}}</div>
				<div class='col-xs-7'><strong>Total</strong></div>
				<div class="col-xs-5"><strong>${{data.order.total | number: 2}}</strong></div>
			</div>
		</div>

		<div class="col-xs-12 clearfix">
		  <button href class="btn btn-success pull-right">Save</button>
		</div>
	</span>

	<div class="progress progress-striped active" ng-show="loading">
		<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			<span class="sr-only"></span>
		</div>
	</div>
	</form>


	<div class="delete-order col-xs-12 clearfix">
	  <button href class="btn btn-danger pull-right" ng-click="confirmRemove()">Delete Order</button>
	</div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body clearfix">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		<h3 class="center">The order has been updated!</h3>
        	<a href class="btn btn-success btn-stack col-xs-12" class="close" data-dismiss="modal" >See this order</a>
        	<a href class="btn btn-info btn-stack col-xs-12" ng-click="goToOrders()">View All Orders</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="successModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body clearfix">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      		<h3 class="center">Oh No! Seems you missed a required field.</h3>
        	<a href class="btn btn-info btn-stack col-xs-12" class="close" data-dismiss="modal" >Fix the form</a>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="removeConfirmModal" tabindex="-1" role="dialog" aria-labelledby="removeConfirmModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body clearfix">
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        	<h4 class="modal-title" id="removeConfirmModal">Are you sure you want to delete?</h4>
        	<a href ng-click="remove(removeId)" class="btn btn-danger btn-stack col-xs-12">Delete this order</a>
        	<a href class="btn btn-default btn-stack col-xs-12" data-dismiss="modal" aria-label="Close">Cancel</a>
      </div>
    </div>
  </div>
</div>